.container {
    min-width: 100%;
    position: absolute;
    top: 56px;
    justify-content: center;
    padding: 0px 20px 0px 20px;
        
        @media screen and (min-width: 768px) {
            
            padding:0px 20px 0px 20px;
        }
    
        @media screen and (min-width: 1024px) {
            
            padding: 0px 32px 0px 32px;
        }
    
        @media screen and (min-width: 1280px) {
            
            padding: 0px 125px 0px 125px;
        }
        }