@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --black-text-color: #000000;
  --primary-text-color: #52555f;
  --email-text-color: #a6abb9;
  --warning-text-color: #ff0000;
  --description-color: #c7ccdc;
  --dark-blue-color: #071f41;

  --white-color: #ffffff;
  --accent-color: #ff751d;
  --balance-minus: #e53935;
  --error-color: #eb5757;
  --secondary-accent-color: #ffdac0;
  --icons-item-bg: #ffa500;
  --loader-bg-color: #b7b7b7;
  --plus-balance-color: #407946;
  --minus-balance-color: #e7192e;

  --grey-bg-auth-color: #f6f7fb;
  --grey-bg-home-color: #f5f6fb;
  --grey-bg-u-color: #f5f6fa;
  --report-bg-color: #f5f6fb;
  --category-btn-fill: #f1f1f1;

  --logout-btn-color: #cbccd0;

  --dark-theme-color: #939397;

  --form-submit-disable: #efb089;
  --form-signup-disable: #fbfbfb;
  --income-section-line: #e0e5eb;
  --triangle-up-color: #1d346a;
  --modal-balans-gradient: #031634;
  --report-balans-add: #bc8f8f;
  --report-transition-report: #783d3d;
  --report-transition-switch: #fefefe;
  --report-transition-activity: #0f3075;
  --report-form-activity: #384c9b;
  --report-form-btn: #f6ec2d;
  --report-summaty-border: #585a62;
  --product-list-btn: #afb1b8;
  --bg-thumb-hover: #ff9900;

  --modal-logaut-backdrop: rgba(0, 0, 0, 0.5);
  --form-wrapper-shadow: rgba(170, 178, 197, 0.4);
  --google-btn-shadow: rgba(170, 178, 197, 0.2);
  --modal-logaut-shadow: rgba(82, 85, 95, 0.4);
  --balans-form-color: rgba(82, 85, 95, 0.7);
  --form-submit-shadow: rgba(255, 107, 8, 0.35);
  --report-bg-balans: rgb(160, 174, 246);
  --product-bg-list: rgba(255, 255, 255, 0.1);
  --register-btn-shadow: rgba(82, 85, 95, 0.15);
  --btn-transaction-shadow: rgba(85, 82, 95, 0.35);
  --btn-transaction-hover-shadow: rgba(255, 107, 8, 0.35);

  --body-bg-color: #ffffff;
  --report-window-bg-color: #ffffff;
  --category-type-bg-inactive: #f6f7fb;
  --category-type-bg-active: #fefefe;
  --balance-input-bg: #f5f6fb;
  --input-bg: #ffffff;
  --input-border: #f5f6fb;
  --placeholder-text: #c7ccdc;
  --transaction-btn-bg: #ffffff;
  --transaction-btn-text: #52555f;
  --transaction-btn-border: #f6f7fb;
  --list-accent: #f5f6fb;
  --list-bg: #ffffff;
  --list-item-text: #000000;
  --summary-item-border-bg: #ffffff;
  --summary-text: #52555f;
  --basic-icon-color: #52555f;
  --delete-btn-hover-bg: #f5f6fb;
  --balance-bg: #f5f6fb;
  --balance-border: #ffffff;
  --category-hover-text: #52555f;
  --register-btn-text: #52555f;
  --register-btn-bg: #f5f6fb;
  --modal-text: #52555f;
  --modal-bg: #ffffff;
  --cancel-btn-border: #f6f7fb;
  --report-icon-color: #071f41;
}

[data-theme="dark"] {
  --black-text-color: #fffcf2;
  --report-bg-color: #252422;
  --primary-text-color: #ccc5b9;
  --grey-bg-u-color: #252422;
  --email-text-color: #ccc5b9;

  --plus-balance-color: #2eaf3b;
  --minus-balance-color: #fd1d33;

  --logout-btn-color: #ccc5b9;

  --balans-form-color: rgba(255, 252, 242, 0.7);
  --form-wrapper-shadow: rgb(0 0 0 / 22%);
  --google-btn-shadow: rgb(0 0 0 / 32%);
  --modal-logaut-shadow: rgb(0 0 0 / 32%);
  --modal-logaut-backdrop: rgba(50, 50, 50, 0.5);

  --body-bg-color: #403d39;
  --report-window-bg-color: #403d39;
  --category-type-bg-inactive: #2c2c2c;
  --category-type-bg-active: #3d3a36;
  --balance-input-bg: #252422;
  --input-bg: #403d39;
  --input-border: #252422;
  --placeholder-text: #ccc5b9;
  --clear-btn-bg: #403d39;
  --list-accent: #252422;
  --list-bg: #403d39;
  --list-item-text: #ccc5b9;
  --summary-item-border-bg: #403d39;
  --summary-text: #ccc5b9;
  --basic-icon-color: #fffcf2;
  --delete-btn-hover-bg: #252422;
  --balance-bg: #252422;
  --balance-border: #403d39;
  --category-hover-text: #fffcf2;
  --register-btn-text: #52555f;
  --btn-transaction-bg: #f5f6fb;
  --register-btn-bg: #f5f6fb;
  --modal-text: #fffcf2;
  --modal-bg: #252422;
  --cancel-btn-border: #3d3b37;
  --report-icon-color: #bec0c8;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: var(--body-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  background: var(--list-accent);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-thumb-hover);
}

#modal.js-action {
  pointer-events: unset;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 32px;
  /*   
  @media screen and (max-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1280px;
    padding: 0 32px;
  } */
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;

  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
  color: #d83030;
  transform: scale(1.5);
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

/* header .presentation {
  margin: 50px 0;
  background: url("./assets/image/bg.jpeg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
} */

/* header .presentation::after {
  content: "Лучшие товары для вашего дома";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
} */

/* header .presentation::before {
  content: "по низким ценам";
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
} */

.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.full-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover,
.full-item img:hover {
  transform: scale(1.05);
}

main h2,
.full-item h2,
main p,
.full-item p,
main b,
.full-item b {
  margin: 10px 20px;
  color: #333;
}

main b,
.full-item b {
  color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 55px;
  height: 30px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}
